<table class="table text-center">
    <thead  >
        <td>Imagen</td>
        <td>Artista</td>
        <td>Album</td>
        <td>Genero</td>
        <td>Precio</td>
        <td>puntaje</td>
        <td>Cantidad de canciones</td>
    </thead>
    <tbody>
        <tr *ngFor="let album of albumes" [ngClass]="{'estaDeModa':album.estaDeModa}">
            <td><img class="img-thumbnail" width="200px" [src]="album.imagen" alt=""></td>
            <td>{{album.artista}}</td>
            <td>{{album.nombre}}</td>
            <td>{{album.genero}}</td>
            <td>{{album.precio | currency}}</td>
            <td>
                <app-sis-puntos class="text-center" [(valor)]="album.puntos" [max]=10 [min]=0></app-sis-puntos>
                
            </td>
            <td><span class="badge text-bg-warning" *ngIf="album.cantidadDeCanciones>3"> Muchas </span></td>
        </tr>
        
    </tbody>
</table>
