<table class="table">
    <thead class="table" >
        <td>Imagen</td>
        <td>Artista</td>
        <td>Album</td>
        <td>Genero</td>
        <td>Precio</td>
        <td>-----puntaje------</td>
        <td>Cantidad de canciones</td>
    </thead>
    <tbody>
        <tr *ngFor="let albu of album" [ngClass]="{'estaDeModa':albu.estaDeModa}">
            <td><img class="img-thumbnail" width="200px" [src]="albu.imagen" alt=""></td>
            <td>{{albu.artista}}</td>
            <td>{{albu.nombre}}</td>
            <td>{{albu.genero}}</td>
            <td>{{albu.precio | currency}}</td>
            <td>
                <button class="btn btn-primary btn-sm" (click)="restar(albu)">-</button>
                <input type="text" [(ngModel)]="albu.puntos" (keyup)="cambioDePuntaje($event,albu)">
                <button class="btn btn-primary btn-sm" (click)="sumar(albu)" >+</button> 
            </td>
            <td><span class="badge text-bg-warning" *ngIf="albu.cantidadDeCanciones>3"> Muhcas </span></td>
        </tr>
        
    </tbody>
</table>
